@*@using HangfireCourse.Models.User*@
@model IEnumerable<HangfireCourse.Models.User>

@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container">
        <div class="text-center">
            <h2>Users</h2>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="lead text-muted mt-2">This is the list of all users waiting for the site to be online...</p>
                </div>
            </div>
            <a href="#" class="btn btn-primary navbar-btn ml-0 ml-lg-3">Update </a>
        </div>
        <div class="integrations mt-5">
            <div class="row">
                @foreach (User user in Model)
                {
                    <div class="col-lg-4">
                        <div class="box text-center">
                            @*<div class="icon d-flex align-items-end"><img src="img/monitor.svg" alt="..." class="img-fluid"></div>*@
                            <h3 class="h4">@user.Username</h3>
                            <p class="text-small font-weight-light">@user.Email</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>